<aside th:fragment="left-fragment" id="info" class="left">
	<div class="img">
		<img src="/img/sample.png" alt="">
	</div>
	<div class="info-box">
		<div class="info">
			<div class="name">
				<span>파티명</span>
			</div>
			<div class="mem">
				<p>멤버수 &#183 <span>10</span>명 &nbsp; 리더 &#183 <span>홍길동</span></p>
			</div>
		</div>
		<div class="button">
			<a href=""><div class="text">글쓰기 / 파티가입하기</div></a>
		</div>
		<div class="setting">
			<div class="setting-box">
				<a href=""><img src="/img/settings.png" alt="">파티 설정하기</a>
			</div>
		</div>
	</div>
</aside>