<aside th:fragment="right-fragment" class="right">
	<div th:if=${chatRooms} class="chat-container">
		<div class="title">채팅</div>
		<hr>
		<div class="chat-list">
			<ul>
				<li th:each="chatRoom, iterStat : ${chatRooms}" class="chat-item">
					<a href="">
						<div class="img-container">
							<img th:src="${iterStat.first ? party.filename : (#lists.size(chatRoom.chatUsers) == 1 ? chatRoom.chatUsers[0].filename : '/images/party/profile-default.png')}" alt="">
						</div>
						<div class="chat-info">
							<div th:if="${chatRoom.description == null}">
								<div class="name">
									<span th:text="${chatRoom.chatUsersText}">웰시코기</span>
								</div>
							</div>
							<div th:unless="${chatRoom.description == null}" class="name">
								<span th:text="${chatRoom.title == null ? party.name : chatRoom.title}">웰시코기</span>
							</div>
							<div th:text="${chatRoom.description}" class="message">월월!!</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div th:if="${events}" class="calender-container">
		<div class="title">
			다가오는 일정 <a href="">더보기</a>
		</div>
		<hr>
		<div class="calender-list">
			<ul>
				<li th:each="event : ${events}" class="calender-item">
					<div class="schedule">
						<div th:text="${event.startMonth}" class="month">8</div>
						<hr>
						<div th:text="${event.startDay}" class="day">10</div>
					</div> <a href="">
						<div class="info">
							<div th:text="${event.startTime}" class="time">오전 9:57</div>
							<div th:text="${event.title}" class="title">마감입니다.</div>
						</div>
				</a>
				</li>
			</ul>
		</div>
	</div>
</aside>