@charset "UTF-8";
.bg {
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
}
.attachment-container {
  background-color: #edf6ff;
  padding: 15px 50px;
  /* background-color: aquamarine; */
}
.attachment-container h4 {
  font-size: 20px;
  padding: 5px 0 4px 0;
}
.attachment-tag {
  display: flex;
  justify-content: space-evenly;
}
.tag-name{
    border: none;      
    background: none;  
}
/*수정한부분  시작*/
.file-Search{
  padding: 15px;
  display: flex;
  align-items: center;
}
.file-Search-input{
  position: relative;
  width: 99%;
  height: 40px;
  font-size: 15px;
  padding: 0;
  background: #f1f3f5;
  border: 1px solid #ccc;
  border-radius: 0%;
}    
.file-search-icon {
  position: relative;
}
 /*메뉴부분 */
.menu {
    position: sticky;
    top: 0;
    z-index: 0;
    background: #edf6ff;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}
.menu .searchFilter {
    text-align: left;
    margin-left: 20px;
}
.item .top-btn{
	margin-left: 230px;
}

.menu button {
    border: none;
    background-color: transparent;
}
  /*투표/선택박스*/
.searchResultWrap { 
  align-items: center; 
  margin-top: 10px; 
}
.file-bar {
  margin-left: 30px;
}
.searchFilter {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}
.file-container {
  margin-top: 10px;
} 
ul {
  list-style: none;
} 
.file-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
} 
.file-details {
  flex: 1;
  margin-left: 5px; 
}  
.file-name {
  font-weight: bold;
} 
.file-status {
  color: #777;
  font-size: 14px;
  margin-right: 10px;
} 
.file-date {
  color: #777;
  font-size: 14px;
  margin-right: 10px;
}
.file-item-color {
  color: #abc1ff;
  background-color: #ddd;
}
li.file-upload {
  padding-bottom: 10px;
  align-items: center;
} 

li.file-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  align-items: center;
  margin-bottom: 10px;
  min-height: 30px;
} 
.filecover {
  display:flex; 
  align-items: center;
  text-decoration: none;
} 
.file-a {
  display:flex; 
  align-items: center;
  text-decoration: none; 
} 

i {
  font-size: 19px;
  vertical-align: middle; /* 아이콘을 세로로 중앙 정렬 */
}
.strong {
  font-weight: bolder;
}
.d-flex {
  display: flex!important;
}
.text-color{
  color: #abc1ff;
}
.uploadButtonBox .inputFile {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    opacity: 0;
    cursor: pointer;
}
.uploadButtonBox .uploadButton {
    font-weight: 400;
    color: #333;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
   
}
 
.line{
	border-bottom: 2px solid #ddd;
	margin-top: 25px;
	}
	
.albumImages {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
}

.album {
    width: calc(33.33% - 20px); 
    display: inline-flex;
    justify-content: center;
}

._thumbnailImage img {
    max-width: 100%;
    height: auto;
}
.whole-title{
	font-size: 30px;
    font-weight: 600;
    color: #333;
   	margin-left: 30px;
   	margin-bottom: 20px;
}
.albumHeader {
    display: flex;
    padding-top: 22px;
    align-items: center;
    margin-bottom: 20px;
}
.albumHeader .title a {
    display: -webkit-inline-box;
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    text-decoration: none;
}
.albumHeader .title strong {
    flex: 0 1 auto;
    font-size: 25px;
    font-weight: 600;
    color: #333;
    display: block;
    overflow: hidden;
    margin-left: 30px;
    max-width: 100%
}
.albumHeader .title em {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-left: 6px;
    font-size: 30px;
    font-weight: 500;
    color: #777;
}
.albumHeader .info{
	margin-left: 30px;
	font-size: 20px;
}
.albumHeader .item:first-child {
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
}
.albumHeader .item:last-child {
    flex: 0 0 auto;
    margin-left: 20px;
}
 .custom-button {
    background-color: transparent;
    border: 2px solid #abc1ff; 
    color: #abc1ff;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
}

.custom-button:hover {
    background-color: #abc1ff; 
    color: white;
}
._thumbnailImage:hover{
	color:black;
	opacity: 95%;
}

