<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/common/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/common/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common/party-side.css}">
	<link rel="stylesheet" th:href="@{/css/common/party-base.css}">
	<script src="https://kit.fontawesome.com/46a6014d50.js" crossorigin="anonymous"></script>
	<title>LetsParty</title>
	<!-- content의 head가 자동으로 추가된다. -->
</head>
<body>
<nav th:replace="~{/common/navbar :: navbar-fragment}"></nav>
<div class="layout">
	<aside th:replace="~{/common/left :: left-fragment}"></aside>
	<th:block layout:fragment="content-top"></th:block>
	<aside th:replace="~{/common/right :: right-fragment}"></aside>
</div>
<th:block layout:fragment="content-bottom"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script th:src="@{/js/common/navbar.js}"></script>
<script th:src="@{/js/common/party-side.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>