<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/common-base}">
<head>
	<link rel="stylesheet" th:href="@{/css/page/main/login.css}">
</head>

<body>
	<div layout:fragment="content-top" class="container my-3">
		<form class="border bg-light p-3" method="post"
			th:action="@{/user/login}">
			<h1 class="loginH1">로그인</h1>
			<div class="form-group">
				<label class="form-label">아이디</label> <input type="text"
					class="form-control" name="id" />
			</div>
			<div class="form-group">
				<label class="form-label">비밀번호</label> <input type="password"
					class="form-control" name="password" />
			</div>
			<div class="text-end">
				<button type="submit" class="btn btn-primary">로그인</button>
			</div>
			<ul class="loginBtnList" id="login_list">
				<li><a href="#" class="login -icoType -naver externalLogin">
						<span class="icon"> <img src="naver_icon.png">
					</span> <span class="text">네이버로 로그인</span>
				</a></li>
				<li><a href="#" class="login -icoType -facebook externalLogin">
						<span class="icon"> <img src="naver_icon.png">
					</span> <span class="text"> 페이스북으로 로그인 </span>
				</a></li>
				<li><a href="#" class="login -icoType -kakao externalLogin">
						<span class="icon"> <img src="naver_icon.png">
					</span> <span class="text">카카오로 로그인</span>
				</a></li>
			</ul>
		</form>
	</div>
</body>
</html>
