<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/common-base}">
<head>
	<link rel="stylesheet" th:href="@{/css/page/main/login.css}">
</head>

<body>
	<div layout:fragment="content-top" class="container my-3 px-5">
		<form class="border bg-light py-3 px-5" method="post" action="/login">
			<h1 class="loginH1">로그인</h1>
			<div class="form-group">
				<label class="form-label">아이디</label> 
				<input type="text" class="form-control" name="id" />
			</div>
			<div class="form-group mt-3">
				<label class="form-label">비밀번호</label> 
				<input type="password" class="form-control" name="password" />
			</div>
			<div class="text-end">
				<button type="submit" class="btn btn-primary mt-3">로그인</button>
			</div>
			<ul class="loginBtnList" id="login_list">
				<li>
					<a th:href="@{/oauth2/authorization/kakao}" class="login -icoType -kakao externalLogin">
						<img src="/images/login/kakao_login.png">
					</a>
				</li>
				<li>
					<a th:href="@{/oauth2/authorization/google}" class="login -icoType -google externalLogin">
						<img src="/images/login/google_login.png">
					</a>
				</li>
				<li>
					<a th:href="@{/oauth2/authorization/naver}" class="login -icoType -naver externalLogin">
						<img src="/images/login/naver_login.png">
					</a>
				</li>
			</ul>
		</form>
	</div>
</body>
</html>
