<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/common-base}">
<head>
	<link rel="stylesheet" th:href="@{/css/page/main/party-create.css}" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
   <div layout:fragment="content-top" class="container">
      <div class="row mb-3">
        <div class="col-12">
            <div class="card card-line">
                <div class="card-header card-header-text" style="background-color: rgb(237, 246, 255);">
                    <h5 class="pt-1">파티 정보를 입력하고 개설해보세요!</h5>
                </div>			
                <form method="post" id="party-form" th:action="@{/party-create}" th:object="${partyForm}" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group mb-3 col-12">
                            <label class="form-label">파티명</label>
                            <input th:field="*{name}" type="text" class="form-control form-control-lg"
                       				th:classappend="${#fields.hasErrors('*{name}') ? 'is-invalid' : ''}" placeholder="파티 이름을 입력해주세요." />
                            <div th:errors="*{name}" class="invalid-feedback"></div>
                        </div>
                        <!-- 파티 이미지 선택 구간 -->
                        <div class="row">
                            <div id="coverSelect" class="form-group mb-3 row">
                                <!-- 메인 커버 - 선택한 사진을 미리 보여주는 곳이자 실제 삽입될 이미지 -->
                                <div id="mainCover" class="col-6 mainCover-container">
                                    <div id="result-container" class="col-12" style="margin: auto;">
										<input type="hidden" id="imageFile" name="imageFile" th:field="*{imageFile}" />
										<input type="hidden" id="defaultImage" name="defaultImage" th:field="*{defaultImagePath}" />
                                        <img class="add-img" id="preview" src="" alt="이미지미리보기">
                                        <div id="result"></div>
                                    </div>
                                </div>
                            
                                <!-- 사진을 로컬에서 고르거나 기본 이미지를 고르는 곳 -->
                                <div id="coverlist" class="col-6 coverList-container">
                                    <div class="coverlist-text">
                                        <p class="text-muted">기본 커버를 선택하거나 추가하세요</p>
                                    </div>
                                    <div class="coverlist-images">
                                        <div class="">
                                            <span id="addPhotoSpan">
                                                <img class="rounded add-img" src="/images/party/cover-custom.png" id="avatar" alt="avatar">
                                                <input type="file" class="d-none" id="input" name="image" accept="image/*">
                                            </span>
                                        </div>
                                        <div class="">
                                            <img class="add-img" src="/images/party/cover-default1.png" name="cover-default1.png" alt="">
                                        </div>
                                        <div class="">
                                            <img class="add-img" src="/images/party/cover-default2.png" name="cover-default2.png" alt="">
                                        </div>
                                        <div class="">
                                            <img class="add-img" src="/images/party/cover-default3.png" name="cover-default3.png" alt="">
                                        </div>
                                        <div class="">
                                            <img class="add-img" src="/images/party/cover-default4.png" name="cover-default4.png" alt="">
                                        </div>
                                        <div class="">
                                            <img class="add-img" src="/images/party/cover-default5.png" name="cover-default5.png" alt="">
                                        </div>
                                        <div class="">
                                            <img class="add-img" src="/images/party/cover-default6.png" name="cover-default6.png" alt="">
                                        </div>
                                        <div class="">
                                            <img class="add-img" src="/images/party/cover-default7.png" name="cover-default7.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-muted">파티명과 사진은 개설후에도 변경할 수 있어요. (파일 용량 30MB 이하 / 확장자 JPG, PNG 가능)</p>
                        </div>
                    
                        <div class="row">
                            <!-- 카테고리 선택 -->
                            <div class="mb-3 col-6">
                                <label class="form-label">카테고리</label>
                                <select class="form-select category-select" th:field="*{categoryNo}">
                                    <option disabled selected th:value="${-1}"> 카테고리를 고르세요.</option>
                                    <th:block th:each="category : ${categories}">
                                    	<option th:value="${category.no}" th:text="${category.name}"></option>
                                    </th:block>
                                </select>
                            </div>
                            
                            <!-- 최대 정원 -->
                            <div class="mb-3 col-6">
                                <label class="form-label">최대정원</label>
                                <input class="form-control" type="number" min="10" max="1000" 
                                	step="10" placeholder="최대 1000명" th:field="*{quota}" th:classappend="${#fields.hasErrors('quota') ? 'is-invalid' : ''}" />
                            <div th:errors="*{quota}" class="invalid-feedback"></div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- 가입조건 -->
                            <div class="mb-3 col-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">가입조건</label>
                                    <div class="form-check form-switch" id="req-group">
                                        <div class="row" id="req">
                                            <div class="col">
                                                <div class="row mb-3">
                                                    <label class="col-4 col-form-label" for="birthStart">최소나이</label>
                                                    <select class="col-8 custom-select form-select" th:field="*{birthStart}" th:classappend="${#fields.hasErrors('*{birthStart}') ? 'is-invalid' : ''}">
                                                        <option value="9999" selected>제한없음</option>
													    <th:block th:each="birthYear : ${birthYears}">
													        <option th:value="${birthYear}" th:text="|${birthYear}년생 (만 ${currentYear - birthYear}세)|"></option>
													    </th:block>
                                                    </select>
                                                    <div th:errors="*{birthStart}" class="invalid-feedback"></div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-4 col-form-label" for="birthEnd">최대나이</label>
                                                    <select class="col-8 custom-select form-select" th:field="*{birthEnd}">
                                                        <option th:value="${0000}" selected>제한없음</option>
                                                        <th:block th:each="birthYear : ${birthYears}">
													        <option th:value="${birthYear}" th:text="|${birthYear}년생 (만 ${currentYear - birthYear}세)|"></option>
													    </th:block>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row mb-3">
                                                    <label class="col-4 col-form-label text-center" for="gender">성별</label>
                                                    <select class="form-select custom-select" th:field="*{gender}" id="gender">
                                                        <option th:value="${'A'}" selected>제한없음</option>
                                                        <option th:value="${'M'}">남</option>
                                                        <option th:value="${'F'}">여</option>
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <label class="col-4 col-form-label" for="visibilityStatus">공개여부</label>
                                                    <select class="form-select custom-select" th:field="*{visibilityStatus}" id="visibilityStatus">
                                                        <option th:value="${0}" selected>공개</option>
                                                        <option th:value="${1}">비공개</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 파티설명 -->
                            <div class="mb-3 col-6">
                                <label for="" class="form-label">파티설명</label>
                                <textarea name="" id="description" cols="30" rows="4" class="form-control" th:field="*{description}" 
                                	th:classappend="${#fields.hasErrors('*{description}') ? 'is-invalid' : ''}"></textarea>
                                <div th:errors="*{description}" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color:  rgb(237, 246, 255)" >
                        <div class="text-end">
                            <button id="btn" class="btn btn-primary">파티생성</button>
                        </div>
                    </div>
            	</form>
            </div>
        </div>
    </div>
   </div>
   <!-- 사진 자르기 모달 출력 부분 -->
   <div layout:fragment="content-bottom" class="container my-3">
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">이미지 편집</h5>
            </div>
            <div class="modal-body">
              <div class="img-container">
                <img class="add-img" id="image" src="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="cropbutton">Crop</button>
            </div>
          </div>
        </div>
      </div>
   </div>
   <script layout:fragment="script" type="text/javascript" th:src="@{/js/page/main/party-create.js}"></script>
</html>