<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/party-base}">
<head>
<link rel="stylesheet" th:href="@{/css/page/party/attachment.css}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content-top" class="content">
	<div class="attachment-container">
		<div class="col">
			<h5>첨부 모아보기</h5>
		</div>
			<div class="col bg">
				<div class="attachment-tag">
				    <button class="tag-name" id="albumButton">
				        사진첩
				    </button>
				    <button class="tag-name" id="pollButton">
				        투표
				    </button>
				    <button class="tag-name" id="fileButton">
				        파일
				    </button>
				</div>
			
			<div class="attachment-content">
				<div class="attachment-poll">
					<div class="inputWrap">
						<div class="file-Search">
							<input class="file-Search-input border border-end-0" type="text" id="input_search" placeholder="파일명 혹은 작성자 검색">
							<button class="file-Search-icon btn border border-start-0" type="submit"><i class="bi bi-search"></i></button>
							<span class="border"></span>
						</div>
					</div>
				</div>
				<div class="cd">
					<div class="menu">
					    <div class="item">
					        <div class="searchFilter">
					            <select class="_searchFilter">
					                <option value="all">최신순</option>
					                <option value="participated">날짜별로보기</option>
					            </select>
					        </div>
					    </div>
					      <div class="item">
					        <div class="searchFilter">
					            <select class="_searchFilter">
					                <option value="participated">2023년 8월</option>
					                <option value="participated">2023년 9월</option>
					                <option value="participated">2023년 10월</option>
					                <option value="participated">2023년 11월</option>
					                <option value="participated">2023년 12월</option>
					            </select>
					        </div>
					    </div>
					    
					    <div class="item">
					        <div class="top-btn">
					            <button type="button">관리하기</button>
					        </div>
					    </div>
					</div>
				</div>
				<div class="flex-box">
				<div class="searchResultWrap">
						<h2 class="whole-title">사진첩</h2>
				</div>
				</div>
				  <div class="line"></div>      
					<div class="albumHeader">
					    <div class="item">
					        <h2 class="title">
					            <a href="/band/91511654/album/total">
					                <strong>전체사진</strong>
					                <em>6</em>
					            </a>
					        </h2>
					        <time class="info">2023년 8월</time>
					    </div>
				    <div class="item">
				        <button class="custom-button">사진올리기</button>
				   		 </div>
					</div>
				
					<ul class="albumImages -sizeL">
					   <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						        <img src="https://coresos-phinf.pstatic.net/a/361j88/5_jj8Ud018svc1kad1ghfcpd6j_2re044.jpg?type=s276" alt="">
						   </a>
					    </li>
					    <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						       <img src="https://coresos-phinf.pstatic.net/a/362035/0_73jUd018svcnwvvohtzl6r7_gm045d.jpg?type=s276" alt="">
						   </a>
					    </li>
					    <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						       <img src="https://coresos-phinf.pstatic.net/a/362035/0_73jUd018svcnwvvohtzl6r7_gm045d.jpg?type=s276" alt="">
						   </a>
					    </li>
					    <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						       <img src="https://coresos-phinf.pstatic.net/a/362035/0_73jUd018svcnwvvohtzl6r7_gm045d.jpg?type=s276" alt="">
						   </a>
					    </li>
					    <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						       <img src="https://coresos-phinf.pstatic.net/a/362035/0_73jUd018svcnwvvohtzl6r7_gm045d.jpg?type=s276" alt="">
						   </a>
					    </li>
					    <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						       <img src="https://coresos-phinf.pstatic.net/a/362035/0_73jUd018svcnwvvohtzl6r7_gm045d.jpg?type=s276" alt="">
						   </a>
					    </li>
					    <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						       <img src="https://coresos-phinf.pstatic.net/a/362035/0_73jUd018svcnwvvohtzl6r7_gm045d.jpg?type=s276" alt="">
						   </a>
					    </li>
					    <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						       <img src="https://coresos-phinf.pstatic.net/a/362035/0_73jUd018svcnwvvohtzl6r7_gm045d.jpg?type=s276" alt="">
						   </a>
					    </li>
					    <li class="album">
						   <a href="#" role="button" class="_thumbnailImage">
						       <img src="https://coresos-phinf.pstatic.net/a/362035/0_73jUd018svcnwvvohtzl6r7_gm045d.jpg?type=s276" alt="">
						   </a>
					    </li>
					</ul>    
				</div>
				</div>
			</div>
		</div>
		<script layout:fragment="script" th:src="@{/js/page/party/attachment.js}"></script>
</body>
</html>