<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/party-base}">
<!-- 고유 CSS -->
<head>
<link rel="stylesheet" th:href="@{/css/page/party/join.css}">
</head>
<!-- 고유 content -->
<div layout:fragment="content-top" class="content">
	<div class="row mb-3">
		<div class="col-12">
			<div class="card card-line">
				<div class="card-header card-header-text pt-3" style="background-color: rgb(237, 246, 255);">
					<h3>
						*<span class="fs-2" th:text="${party.name}">파티명</span>*에 오신것을 환영합니다
					</h3>
				</div>
				<div class="party-req p-3">
					<div th:if="${partyReqs.birthEnd != '0' || partyReqs.birthStart != '9999'}" class="age-req">
						<h5>나이조건</h5>
						<div class="age">
							<div th:if="${partyReqs.birthEnd != '0'}">
								<span th:text="${partyReqs.birthEnd}">1999</span>년 이후
							</div> 
							<div th:if="${partyReqs.birthStart != '0'}">
								<span th:text="${partyReqs.birthStart}">2020</span>년 이전 출생
							</div>
						</div>
					</div>
					<div th:if="${partyReqs.gender}" class="gender-req">
						<h5>성별조건</h5>
						<div class="gender">
							<span th:text="${partyReqs.gender}">남/여/모두</span>
						</div>
					</div>
				</div>
				<hr>
				<div class="card-body p-3">
					<form method="post" action="">
						<div class="form-group mb-3 col-12">
							<label class="fs-5 form-label">파티에서 사용할 프로필을 설정하세요</label>
							<div class="select-profile">
								<select class="form-select" name="profileNo" id="">
									<option value="" selected="selected" disabled="disabled">프로필을 선택하세요</option>
									<option th:each="profile : ${userProfiles}" value="${profile.no}" th:text="${profile.nickname}">첫번째 닉네임</option>
								</select>
								<div class="show">
									<div class="title fs-4">선택한 프로필</div>
									<div class="show-profile">
										<div class="show-img">
											<img src="/img/hong.jpeg" alt="">
										</div>
										<div class="show-nickname">
											<span>첫번째 닉네임</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<button class="button danger" type="button">취소</button>
					<button class="button" type="button">가입</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- 고유 script -->
<script layout:fragment="script" th:src="@{/js/page/main/home.js}"></script>
</html>