@charset "UTF-8";

 /* nav 디자인 */
 nav {
    height: 90px;
    font-size: 18px;
    background-color: rgb(237, 246, 255);
}
.blank {
    height: 90px;
}
.form {
    position: relative;
   }
.inputbox {
    padding-left: 10px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #fff;
}
.inputbox input {
    border-radius: 20px;
    padding-left: 5px;
    padding-top: 2px;
    border: none;
    outline: none;
}
.logo {
    line-height: 1.5em;
}
.search {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
}
nav:nth-of-type(2) {
    background-color: rgb(194, 225, 255);
    height: 50px;
    margin-top: 90px;
    z-index: 1;
}
.nav2 > li {
    margin-left: 30px;
}
.nav2 > li:first-of-type {
    margin-left: 0px;
}
.blank-1 {
    height: 50px;
}

/* 알림 창 */
.nav-item i {
    font-size: 25px;
}
.click {
    color: #333;
}
.nav-item {
    position: relative;
}
.nav-item i {
    color: #999;
}
.news-container .arrow {
    position: absolute;
    top: -20px;
    right: 74px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #d1eafa;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.news-container {
    display: none;
    background-color: #f6fbff;
    position: absolute;
    border-radius: 8px;
    top: 45px;
    right: -70px;
    width: 320px;
    height: 450px;
    padding: 0;
}
/* .news-container::-webkit-scrollbar {
    border-radius: 8px;
} */
.news-container .title {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.news-container hr {
    margin-top: 5px;
}
.news-items {
    max-height: 400px;
    overflow-y: scroll;
}
.news-item {
    margin-top: 20px;
}
.news-item a {
    display: flex;
}
.news-item .img-container {
    position: relative;
    width: 55px;
    height: 55px;
}
.news-item .img-container img {
    position: absolute;
    top: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.news-info {
    width: 200px;
}
.news-info .type {
    font-size: 13px;
    font-weight: 600;
}
.news-info .content {
    width: 100%;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news-info .content span {
    font-weight: 700;
}
.news-info .time span {
    font-size: 11px;
    color: #888;
}
.block {
    display: block;
    transition: 3s;
}
.none {
    display: none;
    transition: 3s;
}

/* 메세지 창 */
.message-container .arrow {
    position: absolute;
    top: -20px;
    right: 74px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #d1eafa;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.message-container {
    background-color: #f6fbff;
    position: absolute;
    border-radius: 8px;
    top: 45px;
    right: -70px;
    width: 320px;
    height: 450px;
    padding: 0;
}
.message-container .title {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.message-container hr {
    margin-top: 5px;
}
.message-items {
    max-height: 400px;
    overflow-y: scroll;
}
.message-item {
    margin-top: 20px;
}
.message-item a {
    display: flex;
}
.message-item .img-container {
    position: relative;
    width: 55px;
    height: 55px;
}
.message-item .img-container img {
    position: absolute;
    top: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.message-info {
    width: 180px;
}
.message-info .name {
    font-size: 13px;
    font-weight: 700;
}
.message-info .content {
    width: 100%;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.message-info .time span {
    font-size: 11px;
    color: #888;
}
.message-noread {
    width: 30px;
    height: 30px;
    background-color: #4699ff;
    position: relative;
    top: 20px;
    left: 5px;
    border-radius: 10px;
}
.message-noread span {
    display: block;
    text-align: center;
    line-height: 1.8em;
    color: #fff;
}
.noti-no-read, .message-no-read { 
    position: absolute;
    top: -5px;
    left: 20px ;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: red;
    line-height: 1.3em;
    text-align: center;
}
.noti-no-read span, .message-no-read span {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}