@charset "UTF-8";

 /* nav 디자인 */
 nav {
    height: 90px;
    font-size: 18px;
    background-color: rgb(237, 246, 255);
}
.blank {
    height: 90px;
}
.form {
    position: relative;
   }
.inputbox {
	margin-left: 15px;
    padding-left: 10px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #fff;
}
.inputbox input {
    border-radius: 20px;
    padding-left: 5px;
    padding-top: 2px;
    border: none;
    outline: none;
}
.logo {
    line-height: 1.5em;
}
.search {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
}
nav:nth-of-type(2) {
    background-color: rgb(194, 225, 255);
    height: 50px;
    margin-top: 90px;
    z-index: 1;
}
.nav2 > li {
    margin-left: 30px;
}
.nav2 > li:first-of-type {
    margin-left: 0px;
}
.blank-1 {
    height: 50px;
}

/* 알림 창 */
.nav-item i {
    font-size: 25px;
}
.click {
    color: #333;
}
.nav-item {
    position: relative;
}
.nav-item i {
    color: #999;
}
.noti-container {
    background-color: #f6fbff;
    position: absolute;
    border-radius: 8px;
    top: 45px;
    right: -70px;
    width: 320px;
    height: 450px;
    border: 1px solid #ccc;
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
}
.noti-container .arrow {
    position: absolute;
    top: -20px;
    right: 74px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #d1eafa;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
/* .news-container::-webkit-scrollbar {
    border-radius: 8px;
} */
.noti-container .title {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.news-items {
    max-height: 400px;
    overflow-y: scroll;
}
.news-item {
    margin-top: 20px;
}
.news-item a {
    display: flex;
}
.news-item .img-container {
    position: relative;
    width: 55px;
    height: 55px;
}
.news-item .img-container img {
    position: absolute;
    top: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.news-info {
    width: 200px;
}
.news-info .type {
    font-size: 13px;
    font-weight: 600;
}
.news-info .content {
    width: 100%;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news-info .content span {
    font-weight: 700;
}
.news-info .time span {
    font-size: 11px;
    color: #888;
}
.block {
    display: block;
    transition: 3s;
}
.none {
    display: none;
    transition: 3s;
}

/* 메세지 창 */
.message-items {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.message-item {
    margin-top: 20px;
    max-width: 98%;
}
.message-item a {
    display: flex;
    align-items: center;
}
.message-item .img-container {
    position: relative;
    width: 55px;
    height: 55px;
}
.message-item .img-container img {
    position: absolute;
    top: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.message-info {
    width: 180px;
}
.message-info .display-name {
    font-size: 13px;
    font-weight: 700;
}
.message-info .display-name-left {
    max-width: 82%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height: 1.2; /* 줄 간격을 조절. 필요에 따라 값을 변경 */
}
.message-info .content {
    width: 100%;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 표시하려는 최대 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis; /* 긴 텍스트를 잘라낼 때 ...으로 표시 */
    line-height: 1.2; /* 줄 간격을 조절. 필요에 따라 값을 변경 */
    max-height: 2.4em; /* line-height * 2 줄 */
}
.message-info .party-name span {
    font-size: 11px;
    color: #888;
}
.message-noread {
    width: 22px;
    height: 22px;
    background-color: #4699ff;
    top: 20px;
    left: 5px;
    border-radius: 8px;
    font-size: 13px;
}
.message-noread span {
    display: block;
    text-align: center;
    line-height: 1.8em;
    color: #fff;
}
.noti-no-read, .message-no-read { 
    position: absolute;
    top: -5px;
    left: 20px ;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    background-color: red;
    line-height: 1.3em;
    text-align: center;
}
.noti-no-read span, .message-no-read span {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}

@media screen and (max-width: 570px) {
    .m-nav {
        display: flex;
    }
    .m-lp {
        width: 30%;
        margin: 0;
    }
    .m-lp a{
		font-size: 0.9em;
	}
    .container .m-search {
        width: 40%;
    }
    .m-search input {
		width: 100%;
	}
	.inputbox {
		margin-left: 0;
	}
	.inputbox, .inputbox i {
		font-size: 0.8em;
	}
	.m-search li.nav-item li.ms-3{
		margin: 0;
	}
    .container .m-login {
        width: 30%;
    }
    .m-search h1 {
		margin-bottom: -20px
	}
	.m-login li {
		padding-left: 10%;
		display: block;
		height: 30px;
		font-size: 0.9em;
		text-align: right;
	}
	.m-login .nav-item:nth-child(1), .m-login .nav-item:nth-child(2){
		display: none;
	}
	.container .nav2 {
		flex-direction: row;
	}
}