@charset "UTF-8";
.loginH1 {
    position: relative;
    margin: 0 -17px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #222;
    line-height: 1.2;
    word-break: keep-all;
    word-wrap: break-word; 
}
.loginBtnList .login {
	display: block;
	margin: auto;
	margin-top: 20px;
    width: 330px;
}
.loginBtnList .login img {
   	width: 300px;
    height: 46px;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 570px) {
	.loginBtnList {
		padding: 0;
		display: flex;
		gap: 5%;
		justify-content: center;
	}
	.loginBtnList .login {
		width: 90%;
	}
	.loginBtnList .login img{
		position: relative;
		border-radius: 25px;
		width: 50px;
		height: 50px;
		object-fit: cover;
		opacity: 0;
	}
	.loginBtnList .login.-kakao {
		position: relative;
		border-radius: 25px;
		width: 50px;
		height: 50px;
		object-fit: cover;
		background-image: url(/images/login/kakao_login.png);
		background-position: 2px center;
	}
	.loginBtnList .login.-google {
		position: relative;
		border-radius: 25px;
		width: 50px;
		height: 50px;
		object-fit: cover;
		background-image: url(/images/login/google_login.png);
		background-position: -20px center;
	}
	.loginBtnList .login.-naver {
		position: relative;
		border-radius: 25px;
		width: 50px;
		height: 50px;
		background-image: url(/images/login/naver_login.png);
	    background-size: 316px 91px;
    	background-position: -42px 71px;
	}
}
