@charset "UTF-8";
.loginH1 {
    position: relative;
    margin: 0 -17px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #222;
    line-height: 1.2;
    word-break: keep-all;
    word-wrap: break-word; 
}
.loginBtnList .login {
	display: block;
	margin: auto;
	margin-top: 20px;
    width: 330px;
}
.loginBtnList .login img {
   	width: 300px;
    height: 46px;
    object-fit: cover;
    border-radius: 5px;
}
