@charset "UTF-8";

.profile, .personal, .login, .withdraw {
	display: flex;
	padding: 15px 0;
	justify-content: space-between;
}

h5 {
	width: 130px;
}

.profile-container {
	display: flex;
	flex-wrap: wrap;
	width: 520px;
	gap: 10%;
}

.pf-image {
	width: 70px;
	height: 70px;
	margin-bottom: 5px;
}

.pf-image img {
	border-radius: 35px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile-item .name {
	text-align: center;
	margin-bottom: 10px;
}

.profile .button {
	position: absolute;
	right: 0;
	cursor: pointer;
	border-radius: 10px;
	font-weight: 600;
	width: 50px;
	height: 25px;
	text-align: center;
	line-height: 1.6em;
	border: 1px solid #333;
	background-color: #d6f0ff;
	margin-right: 15px;
}

.profile .button:hover {
	transition: .3s;
	background-color: #bce6ff;
}

h6 {
	display: inline-block;
	width: 80px;
}

.personal-container, .login-container, .withdraw-text {
	width: 520px;
}

.my-birthday, .my-tel {
	margin-bottom: 30px;
}

.personal-container span, .login-container span {
	margin-left: 50px;
}

.withdraw .button {
	position: absolute;
	right: 0;
	cursor: pointer;
	border-radius: 10px;
	font-weight: 600;
	width: 50px;
	height: 25px;
	text-align: center;
	line-height: 1.6em;
	border: 1px solid #333;
	margin-right: 15px;
	background-color: #ffbbbb;
}

.withdraw .button:hover {
	transition: .3s;
	background-color: #ff7c7c;
}