@charset "UTF-8";

.category-list {
    margin: 20px 30px;
}
.cat-button {
    padding: 0px 30px;
    display: flex;
    gap: 10px;
}
.cat-button button {
    background-color: rgb(250, 249, 249);
    border: 2px solid rgb(194, 225, 255);
    font-size: 17px;
    border-radius: 10px;
}
.cat-button button.active {
    background-color: rgb(87, 87, 87);
    color: #ddd;
}
.cat-button button.active:hover {
    background-color: rgb(87, 87, 87);
    color: #ddd;
}
.cat-button button:hover {
    background-color: rgb(211, 211, 211);
    color: #555;
}
.party-list {
    margin: 30px;
    padding: 20px;
    background-color: rgb(237, 246, 255);
}
.party-item a{
    display: flex;
    margin-bottom: 30px;
}
.img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
}
.img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.content {
    width: 100%;
    height: 120px;
    white-space: nowrap;
    overflow: hidden;
}
.content > span {
    display: block;
}
.title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}
.description {
    font-size: 17px;
    color: #333;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category {
    display: inline;
    margin: 5px;
    padding: 7px;
    border: 2px solid rgb(194, 225, 255);
	background-color: #fff;
    border-radius: 15px;
    font-size: 13px;
}
.info {
    margin-top: 5px;
    font-size: 14px;
    color: #676767;
}
a, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
.category { 
	border: 2px solid rgb(194, 225, 255);
	background-color: #fff;
}
.cat-button button {
    border: 1px solid #6DA1FF;
	color: #333;
	background-color: #fff;
	border-radius: 10px;
}
.cat-button button.active {
    color: #ffffff;
	border-color: #6DA1FF;
	background-color: #6DA1FF;
}
.cat-button button.active:hover {
    color: #ffffff;
	border-color: #6DA1FF;
	background-color: #6DA1FF;
}
.cat-button button:hover {
    color: #ffffff;
	border-color: #6DA1FF;
	background-color: #6DA1FF;
}